<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "style.css">
</head>
<body>
     <%- include('partials/searchButton.ejs') %> 
    <h1><%=page.toUpperCase()%> SUBREDDIT</h1>
    <h2><%=description%></h2>
    <!-- Rendering each Post from data.json -->
    <% for(let SinglePost of post){ %>
    <div>
       <span><b><%= SinglePost.title; %></b> - <i><%=SinglePost.author %></i></span> 
        <% if(SinglePost.img){ %>
            <img src = <%=SinglePost.img %> width="900" height="900">
        <% } %>
        </div>
        <% } %>
    

</body>
</html>